@model ECommerceMVC.Web.ViewModels.Cliente.ClienteListViewModel
@{
    ViewBag.Title = "Delete";
}

<h2>Borrar Cliente</h2>
<hr />
@using (Html.BeginForm("Delete", "Clientes", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.NombreCliente)
        @Html.TextBoxFor(m => m.NombreCliente, new { @class = "form-control", @readonly = true })
    </div>
    <div class="row">
        <div class="col">

            <div class="form-group">
                @Html.LabelFor(m => m.Pais)
                @Html.TextBoxFor(m => m.Pais, new { @class = "form-control", @readonly=true })
            </div>

        </div>
        <div class="col">
            <div class="form-group">
                @Html.LabelFor(m => m.Ciudad)
                @Html.TextBoxFor(m => m.Ciudad, new { @class = "form-control",@readonly=true })
            </div>

        </div>
    </div>


    <div class="form-group">
        <button class="btn btn-danger" type="submit">Borrar</button>
        <a href="@Url.Action("Index", "Clientes")" class="btn btn-success">Volver</a>

    </div>
}